a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp38b2d1f2{ color:#A01FCB; text-decoration: underline} 
		a.wsp38b2d1f2:visited{ color:#800080; text-decoration: underline} 
		a.wsp38b2d1f2:active{ color:#8018CB; text-decoration: underline} 
		a.wsp38b2d1f2:hover{ color:#E3B4F3; text-decoration: underline} 
#menu_441deae9 a { text-decoration: none; }
#menu_441deae9_pane { background-color: #625D63; border: 1px solid #625D63; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_441deae9_hr { background-color: #625D63; height: 1px; border: none; }
#menu_441deae9_entry { padding-left: 10px; padding-right: 10px; padding-top: 8px; padding-bottom: 8px; }
#menu_441deae9_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_441deae9_entry:hover span { color:#FFFFFF !important; }
		.menu_441deae9_mainMenuEntry { text-align: center; }
		.menu_441deae9_mainMenuEntry:hover {	background-color:#282828; }
		.menu_441deae9_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_441deae9 .mobileEntry { display: none; } 
		#menu_441deae9 .normalEntry { display: block; } 
		@media only screen and (max-width:450px) { 
			#menu_441deae9 .mobileEntry { display: block; } 
			#menu_441deae9 .normalEntry { display: none; } 
		}
#menu_6ea2fd9d a { text-decoration: none; }
#menu_6ea2fd9d_pane { background-color: #E6E6E6; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_6ea2fd9d_hr { background-color: #646464; height: 1px; border: none; }
#menu_6ea2fd9d_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_6ea2fd9d_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_6ea2fd9d_entry:hover span { color:#FFFFFF !important; }
		.menu_6ea2fd9d_mainMenuEntry { text-align: center; }
		.menu_6ea2fd9d_mainMenuEntry:hover {	background-color:#282828; }
		.menu_6ea2fd9d_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_6ea2fd9d .mobileEntry { display: none; } 
		#menu_6ea2fd9d .normalEntry { display: block; } 
		@media only screen and (max-width:450px) { 
			#menu_6ea2fd9d .mobileEntry { display: block; } 
			#menu_6ea2fd9d .normalEntry { display: none; } 
		}
body { background-color:#000000; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#img_66ca5416 { position:absolute; left:5%; top:2%; width:5%; background:none;  }
.textstyle2 { text-align:center; }
#menu_441deae9 { vertical-align: bottom; position:relative; display: inline-block; width:48%; height:40px; text-align:left; background-color:#FF0000; background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 0, 0, 0));  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:37px; height:40px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.style3 { position:absolute; width:52px; height:40px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FF0000;  white-space: nowrap; }
.style5 { position:absolute; width:84px; height:40px; left:62px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.style6 { position:absolute; width:153px; height:40px; left:146px;  }
.style7 { position:absolute; width:84px; height:40px; left:299px;  }
.style8 { position:absolute; width:84px; height:40px; left:383px;  }
.style9 { position:absolute; width:132px; height:40px; left:467px;  }
.style10 { position:absolute; width:52px; height:40px; left:599px;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#html_3ff37bcc { vertical-align: bottom; position:relative; display: inline-block; width:100%; background-color:#E5E5E5;  }
#container_3ac7248a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background:none;  }
#container_3ac7248a_padding { margin: 10px; display: block;  }
#menu_6ea2fd9d { vertical-align: bottom; position:relative; display: inline-block; width:98%; height:38px; text-align:left; background-color:#E5E5E5; background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(229, 229, 229, 0));  }
.style11 { position:absolute; width:37px; height:38px; left:10px;  }
.style12 { position:absolute; width:154px; height:38px; left:10px;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFF00;  white-space: nowrap; }
.style13 { position:absolute; width:185px; height:38px; left:164px;  }
.style14 { position:absolute; width:160px; height:38px; left:349px;  }
.style15 { position:absolute; width:176px; height:38px; left:509px;  }
.style16 { position:absolute; width:144px; height:38px; left:685px;  }
.style17 { position:absolute; width:30px; height:38px; left:829px;  }
.style18 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:0px;  }
.style19 { position:absolute; width:30px; height:38px; left:859px;  }
.style20 { position:absolute; width:30px; height:38px; left:889px;  }
.style21 { position:absolute; width:30px; height:38px; left:919px;  }
#container_514d2553 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:170px; background-color:#FFFFFF;  }
#container_514d2553_padding { margin: 10px; display: block;  }
#container_1af30062 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_1af30062_padding { margin: 10px; display: block;  }
#img_275fbf4a { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_2341115b { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_2341115b_padding { margin: 10px; display: block;  }
#img_271ad128 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_25631d66 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_25631d66_padding { margin: 10px; display: block;  }
#img_159311cd { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_751b4f71 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_751b4f71_padding { margin: 10px; display: block;  }
#img_4ff4f420 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#placeh_66281d83 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; background-color:#000000; border: 30px solid #000000;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_1e37c9d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:151px; background-color:#FFFFFF;  }
#container_1e37c9d_padding { margin: 10px; display: block;  }
#container_33bdf33c { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_33bdf33c_padding { margin: 10px; display: block;  }
#img_338c608f { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_326aa61d { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_326aa61d_padding { margin: 10px; display: block;  }
#img_60406e4d { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_7aa90855 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_7aa90855_padding { margin: 10px; display: block;  }
#img_57c4570b { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_54f9eef8 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_54f9eef8_padding { margin: 10px; display: block;  }
#img_1fe9d46c { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#placeh_6671f4a5 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; background-color:#000000; border: 35px solid #000000;  }
#container_5aafb388 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:170px; background-color:#FFFFFF;  }
#container_5aafb388_padding { margin: 10px; display: block;  }
#container_60b29655 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_60b29655_padding { margin: 10px; display: block;  }
#img_144d08a2 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_75bad688 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_75bad688_padding { margin: 10px; display: block;  }
#img_7b016bd8 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_2d828b8a { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_2d828b8a_padding { margin: 10px; display: block;  }
#img_5b96fe84 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_1a62a5f7 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_1a62a5f7_padding { margin: 10px; display: block;  }
#img_718109b3 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#placeh_3886a503 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; background-color:#000000; border: 35px solid #000000;  }
#container_83036ff { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:170px; background-color:#FFFFFF;  }
#container_83036ff_padding { margin: 10px; display: block;  }
#container_1fb17606 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_1fb17606_padding { margin: 10px; display: block;  }
#img_7785595 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_652e1f73 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_652e1f73_padding { margin: 10px; display: block;  }
#img_19ccd5 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_32aa7c1 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_32aa7c1_padding { margin: 10px; display: block;  }
#img_7cf75f07 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_75b2acaf { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_75b2acaf_padding { margin: 10px; display: block;  }
#img_40a63007 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#placeh_11a0051 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; background-color:#000000; border: 35px solid #000000;  }
#html_18fb9fa2 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background-color:#E5E5E5;  }
#placeh_1c784f3e { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; background-color:#000000; border: 35px solid #000000;  }
#container_63b62da2 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_63b62da2_padding { margin: 10px; display: block;  }
#img_1afc0df5 { vertical-align: bottom; position:relative; display: inline-block; width:80%; background:none; box-shadow: 5px 5px 4px 0px rgba(192, 192, 192, 0.588235);  }
#container_a51ad11 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_a51ad11_padding { margin: 10px; display: block;  }
#img_3c7a44fe { vertical-align: bottom; position:relative; display: inline-block; width:80%; background:none; box-shadow: 5px 5px 4px 0px rgba(192, 192, 192, 0.588235);  }
#container_b311b30 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_b311b30_padding { margin: 10px; display: block;  }
#img_594c6e66 { vertical-align: bottom; position:relative; display: inline-block; width:80%; background:none; box-shadow: 5px 5px 4px 0px rgba(192, 192, 192, 0.588235);  }
#container_2d0cc218 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_2d0cc218_padding { margin: 10px; display: block;  }
#img_226526af { vertical-align: bottom; position:relative; display: inline-block; width:80%; background:none; box-shadow: 5px 5px 4px 0px rgba(192, 192, 192, 0.588235);  }
#placeh_3dc23dd { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#000000; border: 40px solid #000000;  }
#container_bf93e17 { vertical-align: top; position:relative; display: inline-block; width:96%; min-height:150px; background-color:#000000;  }
#container_bf93e17_padding { margin: 10px; display: block;  }
#container_3defd5da { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:150px; background-color:#FFFFFF;  }
#container_3defd5da_padding { margin: 10px; display: block;  }
#img_19eb25b { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_5a461f47 { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:150px; background-color:#000000;  }
#container_5a461f47_padding { margin: 10px; display: block;  }
#container_7b617898 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:150px; background-color:#FFFFFF;  }
#container_7b617898_padding { margin: 10px; display: block;  }
#img_2161f002 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_243bb845 { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:150px; background-color:#000000;  }
#container_243bb845_padding { margin: 10px; display: block;  }
#container_47c2b40a { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:150px; background-color:#FFFFFF;  }
#container_47c2b40a_padding { margin: 10px; display: block;  }
#img_9a7916d { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#placeh_394c3366 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#000000; border: 40px solid #000000;  }
#container_249f2627 { vertical-align: top; position:relative; display: inline-block; width:96%; min-height:150px; background-color:#000000;  }
#container_249f2627_padding { margin: 10px; display: block;  }
#container_2168aad6 { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:150px; background-color:#FFFFFF;  }
#container_2168aad6_padding { margin: 10px; display: block;  }
#img_8b0cdcc { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_2b23d4b6 { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:150px; background-color:#000000;  }
#container_2b23d4b6_padding { margin: 10px; display: block;  }
#container_78911a8e { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:150px; background-color:#FFFFFF;  }
#container_78911a8e_padding { margin: 10px; display: block;  }
#img_36753d48 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_235b3471 { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:150px; background-color:#000000;  }
#container_235b3471_padding { margin: 10px; display: block;  }
#container_47b778a6 { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:150px; background-color:#FFFFFF;  }
#container_47b778a6_padding { margin: 10px; display: block;  }
#img_3563da44 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#placeh_5ae194a6 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#000000; border: 40px solid #000000;  }
#container_592de73b { vertical-align: top; position:relative; display: inline-block; width:96%; min-height:150px; background-color:#000000;  }
#container_592de73b_padding { margin: 10px; display: block;  }
#container_366980a9 { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:150px; background-color:#FFFFFF;  }
#container_366980a9_padding { margin: 10px; display: block;  }
#img_19e90fa5 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_65ee0b6b { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:150px; background-color:#000000;  }
#container_65ee0b6b_padding { margin: 10px; display: block;  }
#container_5e072c8f { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:150px; background-color:#FFFFFF;  }
#container_5e072c8f_padding { margin: 10px; display: block;  }
#img_56002843 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_80c8255 { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:150px; background-color:#000000;  }
#container_80c8255_padding { margin: 10px; display: block;  }
#container_35be079e { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:150px; background-color:#FFFFFF;  }
#container_35be079e_padding { margin: 10px; display: block;  }
#img_11832243 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#placeh_3fce3e55 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#000000; border: 40px solid #000000;  }
#container_754162cd { vertical-align: top; position:relative; display: inline-block; width:96%; min-height:150px; background-color:#000000;  }
#container_754162cd_padding { margin: 10px; display: block;  }
#img_1dda5220 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; box-shadow: 5px 5px 4px 0px rgba(255, 255, 255, 0.588235);  }
#placeh_50c152 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#000000; border: 40px solid #000000;  }
#container_24493f6c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_24493f6c_padding { margin: 10px; display: block;  }
#container_6ef5689f { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:50px; background:none;  }
#container_6ef5689f_padding { margin: 10px; display: block;  }
.textstyle9 { text-align:right; }
.textstyle10 { font-size:12pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF;  }
#container_3647c505 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:50px; background:none;  }
#container_3647c505_padding { margin: 10px; display: block;  }
#audio_45286c53 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#placeh_2c1b845 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#000000; border: 40px solid #000000;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
@media only screen and (max-width: 750px)
{
		#container_3defd5da { width:100%;  }
		#container_5a461f47 { width:100%;  }
		#container_7b617898 { width:100%;  }
		#container_243bb845 { width:100%;  }
		#container_47c2b40a { width:100%;  }
		#container_2168aad6 { width:100%;  }
		#container_2b23d4b6 { width:100%;  }
		#container_78911a8e { width:100%;  }
		#container_235b3471 { width:100%;  }
		#container_47b778a6 { width:100%;  }
		#container_366980a9 { width:100%;  }
		#container_65ee0b6b { width:100%;  }
		#container_5e072c8f { width:100%;  }
		#container_80c8255 { width:100%;  }
		#container_35be079e { width:100%;  }
}
@media only screen and (max-width: 600px)
{
		#container_1af30062 { width:50%;  }
		#container_2341115b { width:50%;  }
		#container_25631d66 { width:50%;  }
		#container_751b4f71 { width:50%;  }
		#container_33bdf33c { width:50%;  }
		#container_326aa61d { width:50%;  }
		#container_7aa90855 { width:50%;  }
		#container_54f9eef8 { width:50%;  }
		#container_60b29655 { width:50%;  }
		#container_75bad688 { width:50%;  }
		#container_2d828b8a { width:50%;  }
		#container_1a62a5f7 { width:50%;  }
		#container_1fb17606 { width:50%;  }
		#container_652e1f73 { width:50%;  }
		#container_32aa7c1 { width:50%;  }
		#container_75b2acaf { width:50%;  }
		#container_63b62da2 { width:50%;  }
		#container_a51ad11 { width:50%;  }
		#container_b311b30 { width:50%;  }
		#container_2d0cc218 { width:50%;  }
}
@media only screen and (max-width: 300px)
{
		#container_1af30062 { width:100%;  }
		#container_2341115b { width:100%;  }
		#container_25631d66 { width:100%;  }
		#container_751b4f71 { width:100%;  }
		#container_33bdf33c { width:100%;  }
		#container_326aa61d { width:100%;  }
		#container_7aa90855 { width:100%;  }
		#container_54f9eef8 { width:100%;  }
		#container_60b29655 { width:100%;  }
		#container_75bad688 { width:100%;  }
		#container_2d828b8a { width:100%;  }
		#container_1a62a5f7 { width:100%;  }
		#container_1fb17606 { width:100%;  }
		#container_652e1f73 { width:100%;  }
		#container_32aa7c1 { width:100%;  }
		#container_75b2acaf { width:100%;  }
		#container_63b62da2 { width:100%;  }
		#container_a51ad11 { width:100%;  }
		#container_b311b30 { width:100%;  }
		#container_2d0cc218 { width:100%;  }
		#container_6ef5689f { width:100%;  }
		#container_3647c505 { width:100%;  }
}
